body {
  
}

* {
  font-size: 13px;
}

h1 {
  font-size: 60px;
  font-family: "Satisfy", cursive;
  color: rgba(108, 24, 24, 0.7);
  text-align: center;
  position: fixed;
  background-color: yellow;
}

h2 {
  font-family: "Bellefair";
  font-size: 25px;
  text-align: center;
}

h3 {
  background-color: rgba(108, 24, 24, 0.3);
  border: 2px solid #ff0000;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-style: oblique;
}

h2.AddMeToKnowMore {
  font-family: "arial";
  font-style: italic;
}

ul.EMail {
  font-style italic;
  font-color: red;
}