h1 {
  font-size: 60px;
  font-family: "Satisfy", cursive;
  color: rgba(108, 24, 24, 0.2);
  text-align: center;
  width: 300px;
  position: fixed;
  background-color: rgba(80, 50, 78, 0.1);
  margin: auto;
  border-radius: 10px;
}

h2 {
  font-family: "Bellefair";
  font-size: 25px;
  text-align: center;
}

h3 {
  background-color: rgba(108, 24, 24, 0.3);
  border: 2px solid #ff0000;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

p {
  font-style: oblique;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}