body {

}

* {
  font-size: 16px;
}

h1 {
  font-size: 120px;
  font-family: 'Satisfy', cursive;
  color: rgba(108, 24, 24, 0.7);
  text-align: center;
  position: fixed;
}

h2 {
  font-family: Bellefair;
  font-size: 25px;
  background-color: yellow;
}

h3 {
  background-color: rgba(108, 24, 24, 0.3);
  border: 2px solid #ff0000;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-style: oblique;
}

h2.AddMeToKnowMore {
  font-family: "arial";
  font-style: italic;
}
