<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>My World</title>
	<link rel="stylesheet" type="text/css" href="MyFirstCSS.css">
	<link href="https://fonts.googleapis.com/css?family=Bellefair|Lemonada|Satisfy|Shadows+Into+Light" rel="stylesheet">
	<script type="text/javascript" src="MyFirstWebsite.js"></script>
</head>

<body>

	<!--Introduction lines. Make it as attractive as possible!-->
	<h1>Hi Zhin Sheng</h1>
	<h2>This is my first website. This is my world!!</h2>

	<div class="MyIntroduction">
		<h3>My Introduction</h3>
			<p>Hello Everyone, my name is Koh Meng Yit</p>
		<h3>My Addresses</h3>
			<ul>
				<li>New: <a href="https://goo.gl/maps/RMJyrCSHito" target="_blank">Persiaran Taming Kiri 2, Taman Taming Jaya, 43300, Balakong, Selangor</a></li>
				<li>Old: <a href="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.264491599267!2d101.74050141417305!3d3.0234841977981364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdcad075f77451%3A0xd33fbcb36ba8f438!2sPersiaran+Taming+Kiri+2%2C+Taman+Taming+Jaya%2C+43300+Seri+Kembangan%2C+Selangor!5e0!3m2!1sen!2smy!4v1501048914136" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>17, Jalan Gajus OFF, Jalan Loke Yew, 50460 Kuala Lumpur</a></li>
			</ul>
			<div id="googleMap" style="width:100%;height:400px;"></div>
			<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
		<h3>My Hobby</h3>
			<p>I have a lot of hobbies.</p>
		<h3>My Education and Achievement</h3>
			<p></p>
		<h3>My e-mail</h3>
			<div class="EMail">
				<ul>
					<li>kmykoh97@gmail.com</li>
					<li>kmykoh97@ymail.com</li>
					<li>kmykoh97@outlook.com</li>
				</ul>
			</div>
	</div>

	<!--Final section. Put account for adding and contact-->	
	<h2 id="AddMe">Add me</h2>
	<!--I need to do styling for these buttons/ Use inline-block styling method-->
	<div class="MyButton">
		<a href="https://www.facebook.com/kohmengyit.mengyitkoh" target="_blank"><button>Facebook</button></a>
		<a href="https://twitter.com/kohmengyit" target="_blank"><button>Twitter</button></a>
		<a href="https://www.instagram.com/kmykoh/?hl=en" target="_blank"><button>Instagram</button></a>
		<a href="https://github.com/kmykoh97" target="_blank"><button>Github</button></a>
		<a href="https://forum.xda-developers.com/member.php?u=8174811&tab=aboutme&simple=1" target="_blank"><button>XDA</button></a>
	</div>

</body>
</html>
